.preview-picture{
    display: inline-block;
    width: 14%;
}

.content-text-block{
    display: inline-block;
    max-width: 80%;
    margin: 0 0 0 3%;
}

.content-item{
    margin: 10px 0 10px 5px;
}